@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 193px;
}

input {
  text-align: center;
}

.btn {
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.logo {
  padding: 20px;
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav li {
  flex-direction: row;
  font-size: 16px;
  padding: 31px 20px 30px 0;
}

.fa-bars {
  display: none;
  padding: 27px 20px 26px 0;
}

/* TOP */
.top {
  background-image: url(../images/austin-distel-wawEfYdpkag-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: #fff;
}

.top h2 {
  padding: 254px 0 5px 0;
  font-size: 36px;
}

.top p {
  padding: 5px 0 225px 0;
  font-size: 16px;
}

/* ARTICLE */
article h2 {
  padding-top: 60px;
  color: #333333;
  text-align: center;
  font-size: 32px;
}

.item-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 49px 0 46px 0;
}

.item {
  width: 310px;
  height: 336px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);;
}

.item h3 {
  overflow-wrap: break-word;
  width: auto;
  margin: 20px 20px 0 20px;
  color: #333333;
  font-size: 18px;
}

.item p {
  position: absolute;
  bottom: 20px;
  left: 19px;
  font-weight: normal;
}

.readmore-btn {
  width: 310px;
  height: 52px;
  border: 1px solid #EEE;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  margin-bottom: 88px;
}

/* CONTACT FORM */
.contact-form {
  background-image: url(../images/tim-bogdanov-4uojMEdcwI8-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
}

.contact-form h2 {
  padding-top: 59px;
  font-size: 36px;
}

.contact-form p {
  padding: 47px 0 50px 0;
  font-size: 16px;
}

.contact-btn {
  width: 210px;
  height: 54px;
  background-color: #83032A;
  border: none;
  border-radius: 5px;
  margin-bottom: 44px;
}

/* FOOTER */
footer {
  background-color: #333;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 32px 0 31px 0;
}

/* TB */
@media (max-width: 1000px) {
  .wrapper {
    padding: 0 20px;
  }

  .item-list {
    flex-wrap: wrap;    
  }

}

/* SP */
@media (max-width: 414px) {
  .wrapper {
    padding: 0 10px;
  }
  
  /* TOP */
  .top h2 {
    font-size: 32px;
  }

  .logo {
    padding: 20px 20px 20px 0;
  }

  .main-nav ul {
    display: none;
  }

  .fa-bars {
    display: block;
    padding: 27px 10px 26px 0;
  }

  /* ARTICLE */
  article {
    width: 100%
  }

  article h2 {
    font-size: 28px;
  }

  .item-list {
    flex-direction: column;
  }

  .item {
    margin: 0 auto;
    width: 100%;
    height: 350px;
  }

  .item img {
    width: 100%;
    
  }

  .item h3 {
    font-size: 16px;
    width: auto;
    margin: 20px 20px 10px 20px;
  }
  
  .item p {
    font-size: 14px;
  }

  .readmore-btn {
    width: 100%;
    height: 52px;
  }

  /* CONTACT FORM */
  .contact-form h2 {
    font-size: 28px;
  }

  .contact-form p {
    font-size: 14px;
    font-weight: normal;
  }

  .contact-btn {
    width: 100%;
    height: 52px;
  }

  /* FOOTER */
  footer p {
    font-size: 12px;
    font-weight: normal;
  }
  
}